<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>property evaluation</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
		<script src="static/js/jquery.min.js"></script>
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				
				<div class="inner">
					<a href="/" class="logo"><strong>Projection</strong> by Ying</a>
					<nav id="nav">
						<ul>
    					<li><a href="/">Home</a></li>
						<li><a href="/signUp">Sign Up</a></li>
						<li><a href="/elements">Elements</a></li>
						</ul>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>

			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Evaluate my place</h1>
					</header>
				

		
					<div style="width: 100%; max-width: 500px;">
 					<div class="js-result-container"></div>
  					<form>
    					<div class="typeahead__container">
      						<div class="typeahead__field">
        						<div class="typeahead__query">
          							<input class="js-typeahead" name="q" autofocus placeholder="Type any uk address or postcode" autocomplete="off">
        						</div>
      						</div>
    					</div>
  					</form>
  					<div style="display: none; border-style: dotted; border-width: 1px; padding: 7px 7px 7px 7px; margin: 11px 0px 11px 0px;" id="chosen-from-address-autocomplete"></div>
					</div>

				</div>
			</section>


		<!-- Three
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Lorem ipsum<br /> dolor amet nullam</h3>
							</header>
							<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Sed feugiat<br /> tempus adipicsing</h3>
							</header>
							<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section> -->
			

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Report an error</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>
			<script src="static/js/postcode_search.js"></script>
			
			

	</body>
</html>